@font-face {
  font-family: Helvetica-medium;
  src: url(fonts/helveticaneuecyr-medium1.ttf);
}
@font-face {
  font-family: Helvetica-regular;
  src: url(fonts/helveticaneuecyr_roman.otf);
}
@font-face {
  font-family: Helvetica-black;
  src: url(fonts/helveticaneuecyr_black.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-font: "Helvetica-regular";
  --secondary-font: "Helvetica-black";
  --color-bg: #4666FF;
  --primary-color: #fff;
  --secondary-color: #363636;
  --accent-color: #DCF166;
}

body {
  background-color: var(--color-bg);
  font-family: var(--primary-font);
  color: var(--primary-color);
}

.container {
  max-width: 1200px;
}

/* Splashscreen */
.splashscreen_main {
  justify-self: center;
  margin-top: 315px;
}
.splashscreen_main__logo {
  justify-self: center;
}
.splashscreen_main__desc {
  color: var(--primary-color);
  text-align: center;
  margin-top: 15px;
  font-size: 20px;
}
.splashscreen_main__vk {
  margin-top: -231px;
  margin-left: 10px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  width: 158px;
  height: 155px;
  transform: rotate(16deg);
  border-radius: 21px;
}
.splashscreen_main__tg {
  margin-top: -26px;
  margin-left: 776px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  width: 158px;
  height: 155px;
  transform: rotate(-8deg);
  border-radius: 21px;
}

/* Splashscreen */
/*404*/
.mistake_main {
  justify-self: center;
  margin-top: 315px;
}
.mistake_main__logo {
  justify-self: center;
}
.mistake_main__desc {
  color: var(--primary-color);
  text-align: center;
  margin-top: 15px;
  font-size: 20px;
}
.mistake_main__vk {
  margin-top: -231px;
  margin-left: 10px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  width: 158px;
  height: 155px;
  transform: rotate(16deg);
  border-radius: 21px;
}
.mistake_main__tg {
  margin-top: -26px;
  margin-left: 497px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  width: 158px;
  height: 155px;
  transform: rotate(-8deg);
  border-radius: 21px;
}

/*404*/
.header {
  background-image: url(pictures/bg1.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 680px;
}
.header .menu {
  display: flex;
  justify-content: space-between;
  justify-self: center;
  padding-top: 32px;
}
.header .menu__items {
  display: flex;
  justify-content: space-between;
  justify-self: center;
  gap: 10px;
}
.header .menu__item button {
  border: 1px var(--primary-color);
  border-style: solid;
  border-radius: 100px;
  background: none;
  padding: 5px 11.5px;
}
.header .menu__item button a {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 16px;
}
.header .menu .subscribe {
  padding-left: 226px;
}
.header .menu .subscribe button {
  border: 1px var(--primary-color);
  border-style: solid;
  border-radius: 100px;
  background: var(--primary-color);
  padding: 5px 11.5px;
}
.header .menu .subscribe button a {
  color: var(--secondary-color);
  text-decoration: none;
  font-size: 16px;
}
.header .main {
  justify-self: center;
  margin-top: 242px;
}
.header .main__logo {
  text-transform: uppercase;
  font-size: 72px;
  color: var(--secondary-color);
  text-align: center;
  font-family: var(--secondary-font);
}
.header .main__desc {
  background-color: var(--accent-color);
  border-radius: 100px;
  padding: 16px 30px;
  color: var(--secondary-color);
  text-align: center;
  margin-top: 15px;
  font-size: 20px;
}
.header .socials {
  display: flex;
  padding-left: 157px;
  padding-right: 153px;
  justify-content: space-between;
}
.header .socials__vk {
  margin-top: -220px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  width: 158px;
  height: 155px;
  transform: rotate(16deg);
  border-radius: 21px;
}
.header .socials__tg {
  margin-top: -107px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  width: 158px;
  height: 155px;
  transform: rotate(-8deg);
  border-radius: 21px;
}

.about-bg {
  background-color: var(--secondary-color);
  margin: -45px auto;
  border-radius: 38px;
  height: 361px;
  position: relative;
}
.about-bg .about {
  display: flex;
  gap: 34px;
  padding: 83px 74px;
  margin: 0 auto;
}
.about-bg .about .idea-card {
  background-color: var(--accent-color);
  border-radius: 25px;
  color: var(--secondary-color);
  width: 510px;
  height: 195px;
}
.about-bg .about .idea-card__content {
  padding: 27px 30px;
}
.about-bg .about .idea-card__content__heading {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 32px;
}
.about-bg .about .idea-card__content__desc {
  font-size: 16px;
  margin-top: 34px;
}
.about-bg .about .aim-card {
  background-color: var(--color-bg);
  border-radius: 25px;
  color: var(--primary-color);
  width: 510px;
  height: 195px;
}
.about-bg .about .aim-card__content {
  padding: 27px 30px;
}
.about-bg .about .aim-card__content__heading {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 32px;
}
.about-bg .about .aim-card__content__desc {
  font-size: 16px;
  margin-top: 34px;
}

.problems {
  height: 626px;
  margin: -45px auto;
  background-color: var(--primary-color);
}
.problems .troubles {
  padding: 132px 104px;
}
.problems .troubles__heading {
  display: flex;
  gap: 45px;
  color: var(--secondary-color);
}
.problems .troubles__heading__heading {
  text-transform: uppercase;
  font-size: 48px;
}
.problems .troubles__heading__desc {
  font-size: 20px;
}
.problems .troubles__items {
  margin-top: 110px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.problems .troubles__items__1 {
  height: 52px;
  background-color: var(--accent-color);
  color: var(--secondary-color);
  border-radius: 26px;
  font-size: 36px;
  width: 973px;
  padding: 5px 30px;
}
.problems .troubles__items__2 {
  height: 52px;
  background-color: var(--color-bg);
  color: var(--primary-color);
  border-radius: 26px;
  font-size: 36px;
  width: 1053px;
  padding: 5px 30px;
}
.problems .troubles__items__3 {
  height: 52px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 26px;
  font-size: 36px;
  width: 649px;
  padding: 5px 30px;
}

.footer-bg {
  background-color: var(--secondary-color);
  margin: -45px auto;
  border-radius: 38px 38px 0 0;
  height: 270px;
  position: relative;
}
.footer-bg .footer {
  padding: 55px 77px 100px 77px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
}
.footer-bg .footer__authors {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-bg .footer__curators {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-bg .footer__hse-logo img {
  width: 160px;
}

.home-header {
  background-image: url(pictures/bg1.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 680px;
}
.home-header .home-menu {
  display: flex;
  padding: 32px 40px;
  justify-content: space-between;
  margin: 0 auto;
}
.home-header .home-menu__logos {
  text-transform: uppercase;
  font-size: 18px;
  color: var(--secondary-color);
  text-align: right;
  font-family: var(--secondary-font);
}
.home-header .home-menu__items {
  display: flex;
  justify-self: center;
  gap: 10px;
}
.home-header .home-menu__item button {
  border: 1px var(--primary-color);
  border-style: solid;
  border-radius: 100px;
  background: none;
  padding: 5px 11.5px;
}
.home-header .home-menu__item button a {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 16px;
}
.home-header .home-menu .subscribe button {
  border: 1px var(--primary-color);
  border-style: solid;
  border-radius: 100px;
  background: var(--primary-color);
  padding: 5px 11.5px;
}
.home-header .home-menu .subscribe button a {
  color: var(--secondary-color);
  text-decoration: none;
  font-size: 16px;
}
.home-header .home-main {
  justify-self: center;
  margin-top: 160px;
  text-transform: uppercase;
}
.home-header .home-main__name {
  font-size: 96px;
  color: var(--primary-color);
  text-align: center;
  font-family: var(--secondary-font);
}
.home-header .home-main__it {
  display: flex;
  align-items: center;
  padding-left: 35px;
  margin-top: -18px;
}
.home-header .home-socials {
  display: flex;
  padding-left: 116px;
  padding-right: 153px;
  justify-content: space-between;
}
.home-header .home-socials__vk {
  margin-top: -220px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  width: 158px;
  height: 155px;
  transform: rotate(16deg);
  border-radius: 21px;
}
.home-header .home-socials__tg {
  margin-top: -107px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  width: 158px;
  height: 155px;
  transform: rotate(-8deg);
  border-radius: 21px;
}

.new__bg {
  background-color: var(--secondary-color);
  margin: -45px auto;
  border-radius: 38px;
  height: 504px;
  position: relative;
}
.new__bg .interesting {
  display: flex;
  gap: 34px;
  padding: 83px 74px;
  margin: 0 auto;
}
.new__bg .interesting .words-card {
  display: block;
  background-image: url(pictures/words.svg);
  border-radius: 25px;
  width: 426px;
  height: 338px;
  color: var(--secondary-color);
}
.new__bg .interesting .words-card__naming {
  margin: 27px 0px 0px 30px;
  background-color: var(--accent-color);
  border-radius: 15px;
  width: 100px;
  padding: 2px 4px;
  text-align: center;
  font-size: 16px;
}
.new__bg .interesting .words-card__content {
  padding: 167px 30px;
}
.new__bg .interesting .words-card__content__heading {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 48px;
  color: var(--primary-color);
}
.new__bg .interesting .words-card__content__desc {
  font-size: 16px;
  margin-top: 11px;
  color: var(--primary-color);
}
.new__bg .interesting .card__infor {
  display: block;
}
.new__bg .interesting .card__infor .popular-card {
  background-color: var(--accent-color);
  border-radius: 25px;
  color: var(--secondary-color);
  width: 594px;
  height: 154px;
}
.new__bg .interesting .card__infor .popular-card__content {
  padding: 27px 30px;
}
.new__bg .interesting .card__infor .popular-card__content__naming {
  background-color: var(--color-bg);
  border-radius: 15px;
  width: 105px;
  padding: 2px 4px;
  color: var(--primary-color);
  text-align: center;
  font-size: 16px;
}
.new__bg .interesting .card__infor .popular-card__content__heading {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 32px;
  margin-top: 48px;
}
.new__bg .interesting .card__infor .popular-card_two {
  margin: 30px auto;
  padding-top: 30px;
  background-color: var(--primary-color);
  border-radius: 25px;
  color: var(--secondary-color);
  width: 594px;
  height: 154px;
}
.new__bg .interesting .card__infor .popular-card_two__content {
  padding: 0px 0px 0px 30px;
}
.new__bg .interesting .card__infor .popular-card_two__content__naming {
  background-color: var(--color-bg);
  border-radius: 15px;
  width: 105px;
  padding: 2px 4px;
  color: var(--primary-color);
  text-align: center;
  font-size: 16px;
}
.new__bg .interesting .card__infor .popular-card_two__content__heading {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 32px;
  margin-top: 48px;
}

.team {
  height: 626px;
  margin: -45px auto;
  background-color: var(--primary-color);
}
.team .topic {
  padding: 110px 104px;
}
.team .topic__heading {
  display: flex;
  gap: 45px;
  color: var(--secondary-color);
}
.team .topic__heading__heading {
  text-transform: uppercase;
  font-size: 48px;
}
.team .topic__heading__desc {
  font-size: 20px;
}
.team .topic__items {
  margin-top: 110px;
  display: block;
  flex-direction: row;
  gap: 20px;
}
.team .topic__items__blok {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: start;
  gap: 20px;
}
.team .topic__items__1 {
  height: 52px;
  background-color: var(--accent-color);
  color: var(--secondary-color);
  border-radius: 26px;
  font-size: 36px;
  width: 158px;
  padding: 5px 30px;
}
.team .topic__items__2 {
  height: 52px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 26px;
  font-size: 36px;
  width: 234px;
  padding: 5px 30px;
}
.team .topic__items__3 {
  height: 52px;
  background-color: var(--accent-color);
  color: var(--secondary-color);
  border-radius: 26px;
  font-size: 36px;
  width: 181px;
  padding: 5px 30px;
}
.team .topic__items__4 {
  height: 52px;
  background-color: var(--color-bg);
  color: var(--primary-color);
  border-radius: 26px;
  font-size: 36px;
  width: 288px;
  padding: 5px 30px;
}
.team .topic__items__bloc {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: start;
  gap: 20px;
}
.team .topic__items__5 {
  height: 52px;
  background-color: var(--color-bg);
  color: var(--primary-color);
  border-radius: 26px;
  text-align: center;
  font-size: 36px;
  width: 220px;
  padding: 5px 15px;
}
.team .topic__items__6 {
  height: 52px;
  background-color: var(--accent-color);
  color: var(--secondary-color);
  border-radius: 26px;
  font-size: 36px;
  width: 252px;
  padding: 5px 30px;
}
.team .topic__items__7 {
  height: 52px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 26px;
  text-align: center;
  font-size: 36px;
  width: 365px;
  padding: 5px 30px;
}

.pop-bg {
  background-color: var(--secondary-color);
  margin: -100px auto;
  border-radius: 38px;
  height: 555px;
  position: relative;
}
.pop-bg__popyl {
  color: var(--primary-color);
  font-size: 48px;
  padding: 64px 80px;
}
.pop-bg .famous {
  display: flex;
  gap: 20px;
  margin: 0 auto;
  padding-left: 60px;
}
.pop-bg .famous .article-card {
  background-image: url(pictures/article.svg);
  border-radius: 25px;
  color: var(--primary-color);
  width: 335px;
  height: 338px;
}
.pop-bg .famous .article-card__naming {
  margin-top: 27px;
  margin-left: 27px;
  background-color: var(--accent-color);
  border-radius: 15px;
  width: 81px;
  padding: 2px 4px;
  color: var(--secondary-color);
  text-align: center;
  font-size: 16px;
}
.pop-bg .famous .article-card__content {
  padding: 210px 27px;
}
.pop-bg .famous .article-card__content__heading {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 32px;
}
.pop-bg .famous .article-card__content__desc {
  font-size: 16px;
  margin-top: 10px;
}
.pop-bg .famous .idea-card {
  background-color: var(--accent-color);
  border-radius: 25px;
  color: var(--primary-color);
  width: 335px;
  height: 338px;
}
.pop-bg .famous .idea-card__naming {
  margin-top: 27px;
  margin-left: 27px;
  background-color: var(--secondary-color);
  border-radius: 15px;
  width: 76px;
  padding: 2px 4px;
  color: var(--primary-color);
  text-align: center;
  font-size: 16px;
}
.pop-bg .famous .idea-card__content {
  padding: 210px 27px;
  color: var(--secondary-color);
}
.pop-bg .famous .idea-card__content__heading {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 32px;
}
.pop-bg .famous .idea-card__content__desc {
  font-size: 16px;
  margin-top: 10px;
}
.pop-bg .famous .qwiz-card {
  background-image: url(pictures/quiz.svg);
  border-radius: 25px;
  color: var(--primary-color);
  width: 335px;
  height: 338px;
}
.pop-bg .famous .qwiz-card__naming {
  margin-top: 27px;
  margin-left: 27px;
  background-color: var(--accent-color);
  border-radius: 15px;
  width: 65px;
  padding: 2px 4px;
  color: var(--secondary-color);
  text-align: center;
  font-size: 16px;
}
.pop-bg .famous .qwiz-card__content {
  padding: 210px 27px;
}
.pop-bg .famous .qwiz-card__content__heading {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 32px;
}

.media {
  height: 700px;
  margin: -45px auto;
  background-color: var(--color-bg);
}
.media .service {
  padding: 180px 104px;
}
.media .service__heading {
  display: flex;
  gap: 190px;
  color: var(--primary-color);
}
.media .service__heading__head {
  text-transform: uppercase;
  font-size: 48px;
}
.media .service__heading__desc {
  font-size: 20px;
}
.media .service__heading__logo {
  font-size: 18px;
  color: var(--accent-color);
  font-family: var(--secondary-font);
}
.media .service .search {
  padding-top: 65px;
  font-size: 32px;
}
.media .service .search__items {
  margin-top: 25px;
  display: flex;
  gap: 17px;
}
.media .service .search__items__contents {
  height: 155px;
  background-color: var(--primary-color);
  border-radius: 26px;
  width: 355px;
  padding: 20px 15px;
}
.media .service .search__items__naming1 {
  background-color: var(--accent-color);
  color: var(--secondary-color);
  border-radius: 12px;
  font-size: 20px;
  text-align: center;
  width: 120px;
}
.media .service .search__items__naming2 {
  background-color: var(--accent-color);
  color: var(--secondary-color);
  border-radius: 12px;
  font-size: 20px;
  text-align: center;
  width: 100px;
}
.media .service .search__items__naming3 {
  background-color: var(--accent-color);
  color: var(--secondary-color);
  border-radius: 12px;
  font-size: 20px;
  text-align: center;
  width: 90px;
}
.media .service .search__items__info {
  padding-top: 60px;
  color: var(--secondary-color);
  font-size: 20px;
}
.media .service .end {
  margin: 30px auto;
  font-size: 20px;
}/*# sourceMappingURL=styles.css.map */